<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

     <head th:replace="fragments/head :: head">

     </head>

     <body>
          <div>

               <table class="table-striped table-info">
                    <tbody  th:each="noticia : ${noticias}">
                         <tr>


                              <td class="border-2">
                                   <a th:href="@{/noticia/mostrar/}+__${noticia.id}__" class="no-decoration" >     
                                        <div>
                                             <img th:if="${noticia.imagen!=null}" th:src="${'/imagen/noticia?idNoticia=__${noticia.id}__' }" width="200px"/>
                                             <p th:text="${noticia.titulo}"></p>
                                             <!-- <p th:text="${noticia.cuerpo}"></p> -->
                                        </div>
                                   </a>
                              </td>


                         </tr>

                    </tbody>

               </table>
               <div class="bg-circle-1 bg-circle"></div>
               <div class="bg-circle-2 bg-circle"></div>
               <div class="bg-circle-3 bg-circle"></div>
               <div class="bg-circle-4 bg-circle"></div>
          </div>
          <!--<div class="form-control">
              <table class="table table-striped table-dark">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">TÍTULO</th>
                          <th scope="col">FOTO</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th class="card-index">1</th>
      
                          <th class="card-body">
                              <p class="card-tittle">Primera Noticia.</p>
                          </th>
                          <th class="card-image" style="width: 18rem;">
                              <img src="..." class="card-img-top" alt="...">
                          </th>
                      </tr>
                      <tr>
                          <th class="card-index">2</th>
      
                          <th class="card-body">
                              <p class="card-tittle">Segunda Noticia.</p>
                          </th>
                          <th class="card-image" style="width: 18rem;">
                              <img src=".#." class="card-img-top" alt="...">
                          </th>
                      </tr>
                  </tbody>
              </table>
          </div> -->
          <script th:src="@{/js/bootstrap.bundle.js}"></script>
     </body>

</html>